<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph of data</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 400px;">
        <canvas id="chart1" style="width:100%;max-width:600px"></canvas>
    </div>
    <script>
        async function getData() {
            try{
                const response = await fetch('/get_sensor_data');
                const data = await response.json();
                const response_hours = await fetch('/get_past_time');
                const hour_mark = await response_hours.json();

                createChart(data, hour_mark);

            } catch (error) {
                console.error('Error getting data:', error);
            }
        }

        function createChart(data, hour_mark){
            const dht22_temp = data.map(({ dht22_temp }) => dht22_temp);
            const dht22_hum = data.map(({ dht22_hum }) => dht22_hum);
            const lm35 = data.map(({ lm35 }) => lm35);

            new Chart(document.getElementById("chart1"), {
                type: "line",
                data: {
                    labels: hour_mark,
                    datasets: [{
                        label: "Outside Temperature",
                        data: lm35,
                        borderColor: "#ff6347",
                        fill: false
                    }, {
                        label: "Inside Temperature",
                        data: dht22_temp,
                        borderColor: "#1e90ff",
                        fill: false
                    }, {
                        label: "Inside Humidity",
                        data: dht22_hum,
                        borderColor: "#32cd32",
                        fill: false
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: true }
                    },
                    scales: {
                        x: {
                            title: { display: true, text: 'Hour of the Day' }
                        },
                        y: {
                            title: { display: true, text: 'Temprature' }
                        }
                    }
                }
            });
        }

        getData();
    </script>
</body>
</html>
