<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Data</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/live_data">Data</a></li>
                <li><a href="/data_view">Charts</a></li>
            </ul>
        </div>
    </nav>

    <div class="data_page">
        <h1>Live Sensor Data</h1>

        <div class="data_card">
            <h2>Outside Temperature</h2>
            <div id = "outTemp" class="data_value">-- °C</div>
        </div>

        <div class="data_card">
            <h2>Inside Temperature</h2>
            <div id = "insideTemp" class="data_value">-- °C</div>
        </div>

        <div class="data_card">
            <h2>Inside Humidity</h2>
            <div id = "insideHum" class="data_value">-- %</div>
        </div>
    </div>

    <script>
        //gets the data and updates the page
        async function fetchData() {
            const response = await fetch('/get_current_data');
            const data = await response.json();

            document.getElementById('outTemp').innerText = `${data.outsideTemp} °C`;
            document.getElementById('insideTemp').innerText = `${data.insideTemp} °C`;
            document.getElementById('insideHum').innerText = `${data.insideHumidity} %`;
        }
        //refreshes the data every 5 seconds
        setInterval(fetchData, 5000);
        fetchData();
    </script>
</body>
</html>
