<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Data</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="data-page">
        <h1>Live Sensor Data</h1>

        <div class="data-card">
            <h2>Outside Temperature</h2>
            <div id = "outTemp" class="data-value">{{ received_data.outsideTemp }} °C</div>
        </div>

        <div class="data-card">
            <h2>Inside Temperature</h2>
            <div id = "insideTemp" class="data-value">{{ received_data.insideTemp }} °C</div>
        </div>

        <div class="data-card">
            <h2>Inside Humidity</h2>
            <div id = "insideHum" class="data-value">{{ received_data.insideHumidity }} %</div>
        </div>
    </div>

    <script>
        async function fetchData() {
            const response = await fetch('/api/data');
            const data = await response.json();

            document.getElementById('outTemp').innerText = `${received_data.outsideTemp} °C`;
            document.getElementById('insideTemp').innerText = `${received_data.insideTemp} °C`;
            document.getElementById('insideHum').innerText = `${received_data.insideHumidity} %`;
        }
        setInterval(fetchSensorData, 5000);
        fetchSensorData();
    </script>
</body>
</html>
